.room-code-container {
    font-family: 'Courier New', Consolas, monospace;
    background: #ede2d9;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10% / 15%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80vw; 
    max-width: 100%;
  }
  
  .room-code-container h2 {
    margin-bottom: 5%;
    white-space: nowrap;
  }
  
  .room-code-container input {
    font-family: 'Courier New', Consolas, monospace;
    padding: 5%;
    border: 1px solid #929191;
    border-radius: 4% / 12%;
    width: 80%;
    margin-bottom: 5%;
    text-align: center;
    margin: auto;
  }
  
  .room-code-container button {
    font-family: 'Courier New', Consolas, monospace;
    padding: 6% 9%;
    font-size: 84%;
    border: none;
    background-color: #5e7643;
    color: white;
    font-weight: bold;
    border-radius: 6% / 12%;
    margin-top: 5%;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .room-code-container button:hover {
    background-color: #3a492a;
  }
  
  .room-code-error {
    color: red;
    font-weight: bold;
    font-size: 100%;
    margin-top: 5%;
    margin-bottom: -5%;
  }
  