body {
  font-family: 'Courier New', Consolas, monospace;
  background: #9c6e4b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  max-width: 1200px;
  max-height: 1366px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%; 
  max-width: 1200px;
  padding: 0;
  box-sizing: border-box; 
}